.footer{
    background-color:#8500ee ;
    text-align: center; /*centralizando o texto */
    text-transform: capitalize; /*tranforma a primeira letra de cada palavra em maiusculo*/
    color:#ffff; 
    

}