@import url(../components/minicart.css);
header{
    background-color:#8500ee;
    color:#ffffff;

}

.header__container{
display: flex;
justify-content: space-between;
align-items: center;

}

.header__link{
    color:var(--white-900);
    text-transform: uppercase;
    font-weight: 600;
}

@media (max-width: 768px){
    .header__container{
        flex-wrap: wrap; /* quando nao couver na linha o objeto vai para a linha de baixo*/
        
    }
}



